<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assignment 2</title>
    <link rel="stylesheet" href="css/style.css" type ="text/css">
    
</head>
<body>
    <div>
        <h1>Assignment 2<h1>
    </div>
    <div>
        <h2>James McGurn</h2>
    
        <br>

        <a href="/todo">todo</a>
        <a href="readtodo.html">read-todo</a>

    </div>
</body>
</html>